*{
  background-color: #b6d2ff;
  margin: 20px;
}

.fa-solid fa-bars {
  
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: justify;
  font-size: 13px;
  color: black;
}

.title {
  font-family: "Acme";
  font-size: 50px;
  text-align: center;
  color: #3F57FF;
}

h2 {
  font-family: "Acme";
  font-size: 25px;
  text-align: center;
  color: #3F57FF;
}

h4 {
  font-family: "Acme";
  font-size: 20px;
  text-align: center;
  color: white;  
}

.subheading {
  font-family: "Alata";
  font-size: 30px;
  text-align: center;
  color: black;
}

.item {
  font-family: "Alata";
  font-size: 16px;
  text-align: left;
  color: white;
}

footer {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 14px;
  color: white;
}

