Color fondo titulo azul claro: #d3e3fe Color azul: #3F57FF Color rosado: #f75f7a Color background: #b6d2ff html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
}

header {
  flex: 0 0 auto;
  position: static;
}

#logo {
  position: absolute;
  width: 120px;
  right: 0;
  top: 0;
}

.main-content {
  flex: 1 0 auto;
  margin-top: 0px;
  margin-right: 50px;
  margin-bottom: 0px;
  margin-left: 650px;
  text-align: center;
}

nav {
  background-color: #111111;
  display: block;
  position: absolute;

}

* {
  background-color: #b6d2ff;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: justify;
  font-size: 18px;
  color: black;
}

#title {
  font-family: "Acme";
  font-size: 96px;
  text-align: center;
  color: #3F57FF;
  background-color: #d3e3fe;
}

.homepage {
  background-color: #212121;
  color: #999;
}

.homepage:hover {
  color: #fff;
}

h3 {
  font-family: "Acme";
  font-size: 48px;
  text-align: center;
  color: #3F57FF;
}

h4 {
  background-color: #212121;
  font-family: "Acme";
  font-size: 20px;
  text-align: center;
  color: white;
}

.subheading {
  font-family: "Alata";
  font-size: 48px;
  text-align: center;
  color: black;
  background-color: #d3e3fe;
}

.item {
  background-color: #212121;
  font-family: "Alata";
  font-size: 15px;
  text-align: left;
  vertical-align: middle;
  color: #999;
}

footer {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  vertical-align: baseline;
  background-color: #333333;
  font-size: 20px;
  color: white;
  bottom: 0;
  margin-left: 0;
  padding: 30px;
  flex: 0 0 auto;
}

div {
  display: block;
}

article {
  align-self: center;
  margin-left: 200px;
  margin-right: none;
}

.container1 {
  background-color: #d3e3fe;
  position: static;
  border: 85px solid #d3e3fe;
  flex: 1;
  font-weight: 700;
  width: 100%;
  padding: 35px 0px 35px 0px;
  margin-bottom: 40px;
}

.description,
#about,
#degree,
#topic,
#net,
#contact {
  text-align: justify;
  padding: 20px;
  align-items: center;
  align-self: center;
  position: relative;
  z-index: 0;
  background-color: #f5f7fa;
}

.s1-content {
  background-color: #f5f7fa;
}

.text {
  background-color: #f5f7fa;
  font-family: "Alata";
}

.cedegree {
  flex-direction: column;
  position: relative;
  width: 1140px;
  height: 100%;
  align-self: center;
  vertical-align: middle;
  background: #d3e3fe;
}

#tabs {
  margin: auto;
  width: fit-content;
  background: #d3e3fe;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#tabs input {
  height: 32px;
  visibility: hidden;
}

#tabs label {
  float: left;
  cursor: pointer;
  font-size: 15px;
  line-height: 40px;
  height: 40px;
  padding: 0 20px;
  display: block;
  color: #888;
  text-align: center;
  border-radius: 5px 5px 0 0;
  background: #eee;
  margin-right: 5px;
}

#tabs input:hover+label {
  background: #d3e3fe;
  color: #666;
}

#tabs input:checked+label {
  background: #f5f7fa;
  color: #444;
  z-index: 6;
  line-height: 45px;
  height: 45px;
  position: relative;
  top: -5px;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -o-transition: .1s;
  -ms-transition: .1s;
}

.content {
  text-align: center;
  align-self: center;
  background-color: #f5f7fa;
  position: relative;
  width: 1050px;
  height: 700px;
  padding: 30px;
  z-index: 5;
  border-radius: 0 5px 5px 5px;
}

.diploma {
  font-weight: 700;
  text-align: center;
  background-color: #f5f7fa;
  font-family: "Alata";
}

.content div {
  width: 1030px;
  align-self: center;
  background: #f5f7fa;
  position: absolute;
  z-index: -100;
  opacity: 0;
  transition: all linear 0.1s;
}

.tab-content {
  align-self: center;
  padding: 5px;
  background-color: #f5f7fa;
}

#tabs input.tab-selector-1:checked~.content #year1,
#tabs input.tab-selector-2:checked~.content #year2,
#tabs input.tab-selector-3:checked~.content #year3,
#tabs input.tab-selector-4:checked~.content #year4 {
  z-index: 100;
  opacity: 1;
  -webkit-transition: all ease-out 0.2s 0.1s;
  -moz-transition: all ease-out 0.2s 0.1s;
  -o-transition: all ease-out 0.2s 0.1s;
  -ms-transition: all ease-out 0.2s 0.1s;
}

table {
  width: 100%;
  vertical-align: middle;
  align-self: center;
  font-family: "Alata";
  border: none;
}

th,
td {
  padding: 10px;
  width: 25%;
}

th {
  background-color: #f75f7a;
  color: white;
}

td {
  background: #f5f7fa;
  color: #000;
}

div.subject-container {
  display: block;
  margin-bottom: 105px;
  margin-right: 105px;
  background-color: #fff;
}

.subjects {
  background-color: #f5f7fa;
  font-family: "Acme";
  font-size: 48px;
  color: black;
  text-align: center;
}

.button {
  font-family: "Acme";
  width: 150px;
  height: 50px;
  display: flex;
  position: relative;
  z-index: 1000;
  align-self: center;
  text-transform: uppercase;
  font-size: 25px;
  vertical-align: middle;
  padding: 15px 45px;
  border-radius: 16px;
  background-color: #f75f7a;
  color: #fff;
  border: 4px solid #f75f7a;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  left: 35%;
}

.classmate .peers {
  bottom: 20%;
}

.button:hover {
  background-color: #fff;
  color: #f75f7a;
  border-color: #f75f7a;
  text-transform: uppercase;
}

.fa-solid {
  background-color: #212121;
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}


.main-menu:hover,
nav.main-menu.expanded {
  width: 250px;
  overflow: visible;
}

.main-menu {
  background: #212121;
  border: none;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  overflow: hidden;
  -webkit-transition: width .05s linear;
  transition: width .05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}

.main-menu>ul {
  background: #212121;
  margin: 7px 0;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
  padding: 10px 0px;
  background: #212121;
}

.main-menu li>a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: "Alata";
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.main-menu i {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
}

.main-menu .item {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-size: 20px;
  font-family: "Alata";
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.main-menu li:hover>a,
.main-menu .item:hover,
.main-menu .item:hover {
  color: #fff;
}

.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}

.slider {
  min-width: 700px;
  width: 900px;
  height: 500px;
  border-radius: 12px;
  padding: 20px;
  padding-bottom: 40px;
  box-shadow: 0 8px 48px 2px black;
  display: flex;
  align-items: flex-end;
  justify-self: center;
  position: absolute;
  align-self: center;
  overflow: hidden;
  background: #cfe2ff;
  box-sizing: border-box;
  top: 25%;
  left: 31%;
}

.names {
  align-self: center;
  justify-self: center;
}



#slide-1,
#slide-2,
#slide-3,
#slide-4,
#slide-5 {
  position: fixed;
  width: 300px;
  height: 200px;
  transform-origin: left 50%;
  left: 50%;
  z-index: 10;
  transition: .3s ease-out;
  text-align: center;
}


.classmate {
  font-family: "Acme";
  position: relative;
  text-align: center;
  align-content: center;
  background-color: #cfe2ff;
  top: 40%;
  left: 35%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: black;
  text-shadow: 0 2px 10px hsla(var(--h) var(--s) 10% / .3);
}


.net-page {
  bottom: 0;
  left: 0;
  position: fixed;
}

input {
  position: fixed;
  align-self: center;
  text-align: center;
  align-items: center;
  left: 5%;
  right: 10%;
  opacity: 0;
  z-index: -10;
}

label {
  width: 10%;
  height: 10px;
  margin-right: 4px;
  border-radius: 20px;
  background: hsla(0, 0%, 27%, 0.822);
  cursor: pointer;
  left: 23%;
  position: relative;
  z-index: 10;
}

label:last-child {
  margin-right: 0;
}

input:checked+label {
  background: linear-gradient(to right,
      hsla(var(--hue) 80% 70% / .7),
      hsla(calc(var(--hue) + 30) 80% 50% / .7));
}

input:not(:checked)+label+.names {
  transform: translateX(-100%);
  opacity: 0;
}

input:checked+label+.names~.names {
  transform: translateX(100%);
}

input:not(:checked)+label+.names {
  transition: 0;
}

.link-fce {
  border: 3px solid #3F57FF;
  font-weight: 700;
  background-color: #3F57FF;
  color: #f5f7fa;
}

.link-fce:hover {
  border: 3px solid #3F57FF;
  color: #3F57FF;
  background-color: #f5f7fa;
}

#fce-content {
  margin: 150px;
  font-family: "Alata";
  font-size: 25px;
  width: 900px;
}

.fce {
  font-weight: 700;
}

.ab-me-text {
  margin: 105px;
}

#CV {
  align-items: center;
  width: 70%;
  margin-left: 150px;
}

.link {
  text-align: center;
  background: #cfe2ff;
}

.contact-form {
  width: 80%;
  padding: 30px 90px 90px 90px;
  border: 6px solid rgba(0, 0, 0, 0.3);
  box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  position: relative;
  background-color: #f5f7fa;
}

.contact-form>h2.contactus {
  color: rgba(0, 0, 0, 0.3);
  font-size: 60px;
  text-transform: uppercase;
  background: #f5f7fa;
  font-family: "Acme";
}

.contact-form .row {
  position: relative;
  width: 100%;
  display: grid;
  grid: auto / auto auto;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-gap: 30px;
  background-color: #f5f7fa;
}

.contact-form .row .col {
  position: relative;
  width: 100%;
  margin: 30px 20px 40px 0;
  transition: 0.5s;
  background-color: #f5f7fa;
}

.contact-form .row .form-group {
  position: relative;
  width: 100%;
  height: 40px;
  color: #ffffff;
  background: #f5f7fa;
}

.contact-form .row .form-group input,
.contact-form .row .form-group textarea {
  position: absolute;
  width: 90%;
  height: 80%;
  background: #999;
  outline: none;
  font-size: 24px;
  padding: 10px 0 10px 20px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  color: #212121;
  border-radius: 50px;
}

.contact-form .row .form-group label {
  line-height: 5px;
  color: #3F57FF;
  font-size: 24px;
  font-family: "Acme";
  margin: 0 0 0 30px;
  display: block;
  pointer-events: none;
}

.row .col:nth-child(6) {
  margin-top: 64px;
}

.contact-form .row .form-group input:focus,
.contact-form .row .form-group textarea:focus {
  border: 5px solid #ffffff;
  transition: all 0.5s;
}


@media screen and (max-width: 900px) {
  .contact-form .row {
    grid-template-columns: repeat(auto-fit, minmax(70%, 1fr));
  }

  .contact-form {
    padding: 20px;
  }

  .contact-form h2 {
    font-size: 34px;
    font-family: "Acme";
  }

  .contact-form .row input[type="submit"] {
    width: 100%;
  }
}

.what-is,
.application {
  text-align: justify;
  margin-right: 100px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
}

.what-is img,
.application img {
  width: 700px;
  height: 400px;
}

.info {
  width: 900px;
  height: auto;
  background: #f5f7fa;
  align-self: center;
  display: block;
}

.box {
  padding: 15px;
  width: 900px;
  align-self: center;
  display: block;
  background: #f5f7fa;
}

.img-fce {
  width: fit-content;
  height: fit-content;
}

.fund-content {
  align-items: center;
  display: grid;
  column-gap: 20px;
  grid-template-columns: auto auto;
}

.what-is .box a,
.application .box a {
  background-color: #f5f7fa;
  font-weight: 600;
}