Color fondo titulo azul claro: #d3e3fe
Color azul: #3F57FF
Color rosado: #f75f7a
Color background: #b6d2ff


html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  flex: 0 0 auto;
}

#logo {
  position: absolute;
  width: 100px;
  right: 0;
  top: 0;
}

.main-content {
  flex: 1 0 auto;
  margin-top: 0px;
  margin-right: 105px;
  margin-bottom: 0px;
  margin-left: 105px;
}

nav {
  background-color: #111111;
  display: block;
  position: absolute;

}

footer {
  flex: 0 0 auto;
  margin: 0;
}

* {
  background-color: #b6d2ff;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: justify;
  font-size: 18px;
  color: black;
}

#title {
  font-family: "Acme";
  font-size: 96px;
  text-align: center;
  color: #3F57FF;
  background-color: #d3e3fe;
}

h3 {
  font-family: "Acme";
  font-size: 48px;
  text-align: center;
  color: #3F57FF;
}

h4 {
  background-color: #212121;
  font-family: "Acme";
  font-size: 20px;
  text-align: center;
  color: white;
}

.subheading {
  font-family: "Alata";
  font-size: 48px;
  text-align: center;
  color: black;
  background-color: #d3e3fe;
}

.item {
  background-color: #212121;
  font-family: "Alata";
  font-size: 15px;
  text-align: left;
  vertical-align: middle;
  color: #999;
}

footer {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  background-color: #333333;
  font-size: 20px;
  color: white;
  margin: 0px;
  padding: 30px;
}

div {
  display: block;
}

.container1 {
  background-color: #d3e3fe;
  position: static;
  border: 85px solid #d3e3fe;
  flex: 1;
  font-weight: 700;
  max-width: 100%;
  padding: 35px 0px 35px 0px;
}

.wrapper1 {
  width: 462px;
  min-height: 598px;
  height: auto;
  display: block;
}

.btn {
  margin: 34 34px auto 0 0;
  border: 2;
  padding: 15 45 15 45;
  color: white;
  background-color: #f75f7a;
  border-width: 2px;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  border-radius: 50px;
  text-align: left;
  transition-property: background-color, color, border-color;
}

.btn :hover {
  margin: 34 34px auto 0 0;
  border: 2;
  padding: 15 45 15 45;
  border-color: #f75f7a;
  color: #f75f7a;
  background-color: white;
  border-width: 2px;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  border-radius: 50px;
  text-align: left;
}

.fa-solid {
  background-color: #212121;
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}


.main-menu:hover,
nav.main-menu.expanded {
  width: 250px;
  overflow: visible;
}

.main-menu {
  background: #212121;
  border: none;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  overflow: hidden;
  -webkit-transition: width .05s linear;
  transition: width .05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}

.main-menu>ul {
  background: #212121;
  margin: 7px 0;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
  padding: 10px 0px;
  background: #212121;
}

.main-menu li>a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: "Alata";
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.main-menu i {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
}

.main-menu .item {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-size: 20px;
  font-family: "Alata";
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.main-menu li:hover>a,
.main-menu .item:hover,
.main-menu .item:hover {
  color: #fff;
}

.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}